{% extends "basic_app/patient_base.html" %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock extra_css %}
{% block postpatient %}
<h1>
  Tetanus Immunisation
</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class='btn btn-primary' value="Save">
  </form>
  {% endblock %}
{% block extra_javascript %}
<head>
<!-- jQuery -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

 <!-- Fengyuan Chen's Datepicker -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>
<body>

<script>
  $( function() {
    $( "#id_date_tt1" ).datepicker({
      format: 'YYYY-MM-DD',
      date: null,
    });
    $( "#id_date_tt2" ).datepicker({
      format: 'YYYY-MM-DD',
      date: null,
    });
  } );
  </script>
  </body>
{% endblock extra_javascript %}
